<html>
    <head></head>
    <body>
        <form id="main" method="POST" action="/admin/login" target="_self">
            비밀번호: <input type="text" name="password"/> <br/>
        </form>
        <button onClick="javascript:goSubmit()">로그인</button>
        <br/>
        Admin login
        <br/>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
        <script type="text/javascript">
            function goSubmit() {
                document.getElementById('main').submit();
            }
        </script>
    </body>
</html>
